<ion-header>
  <ion-toolbar>
    <ion-title>user-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSumbit(f)" >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
          <ion-item >
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text"  name="firstname"  required ngModel  #firstnameCtrl="ngModel"></ion-input>
          </ion-item>
      </ion-col>

      <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
          <ion-item>
            <ion-label position="floating">Cognome</ion-label>
            <ion-input type="text"  name="lastname"  required ngModel #lastnameCtrl="ngModel"></ion-input>
          </ion-item>
      </ion-col>

      <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
        <ion-item>
          <ion-label position="floating">Azienda</ion-label>
          <ion-input type="text"  name="company"  required ngModel #companyCtrl="ngModel"></ion-input>
        </ion-item>
    </ion-col>

    <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"  name="lastname"   ngModel #emaileCtrl="ngModel"></ion-input>
      </ion-item>
  </ion-col>

  <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
    <ion-item>
      <ion-label position="floating">Cellulare</ion-label>
      <ion-input type="text"  name="mobile"   ngModel #mobileCtrl="ngModel"></ion-input>
    </ion-item>
</ion-col>

<ion-col size-sm="6" offset-sm="3" class = "ion-margin">
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="text"  name="phone"   ngModel #phoneCtrl="ngModel"></ion-input>
  </ion-item>
</ion-col>

<ion-col size-sm="6" offset-sm="3" class = "ion-margin">
  <ion-item>
    <ion-label position="floating">Professione</ion-label>
    <ion-input type="text"  name="occupation"   ngModel #occupationCtrl="ngModel"></ion-input>
  </ion-item>
</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
        <ion-button type = "submit" color="scaiblue" shape = "round"  expand="block" [disabled]="!f.valid" >Salva</ion-button>
      </ion-col>
    </ion-row>
  </form>
 
</ion-content>
