<ion-header>
  <ion-toolbar color ="scaiblue">
    <ion-buttons slot="start">
      <ion-menu-button  color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color = "light">Registrazioni</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "scrollToBottom()" fill="clear"> <ion-icon name="arrow-down-circle-outline" color = "light" slot="icon-only" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
<ion-chip  *ngIf="isFiltered">
  <ion-icon name="search" color="primary"></ion-icon>
  <ion-label>Today</ion-label>
  <ion-icon name="close" (click) = "loadRegistrationsToday()"></ion-icon>
</ion-chip>

<ion-card class ="ion-padding">
  <ion-card-header class = "ion-text-center">
    <ion-card-subtitle>Elenco Ingressi </ion-card-subtitle> 

  </ion-card-header>

  <ion-card-content>
    <ion-grid  style="font-size:medium;" *ngIf="registrations?.length>0; else elseBlock" >
    
      <ion-row class="ion-margin-bottom">
        
        <ion-col><b>Visitatore</b></ion-col>
        <ion-col><b>Azienda</b></ion-col>
        <ion-col><b>Orario</b></ion-col>
        <ion-col> </ion-col>
      </ion-row>

    <ion-row *ngFor="let registration of registrations" class="ion-margin-bottom">
      <ion-col >{{registration.userFirstName }} {{registration.userLastName }}</ion-col>
      <ion-col >{{registration.company }}</ion-col>
      <ion-col >{{ registration.time | date:'mediumTime'}}</ion-col>
      <ion-col > <ion-button *ngIf="registration.enabled" color="scaiblue" (click) ="checkOut(registration.userFirstName, registration.userLastName,registration.registrazioneId)"><ion-icon color ="light" name="enter-sharp" slot ="icon-only" size="small" ></ion-icon> </ion-button>  </ion-col>
    </ion-row>

  </ion-grid>


<ng-template #elseBlock>
<ion-grid >
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-chip color ="tertiary" class = "ion-text-center">
        <ion-label>Nessuna registrazione attiva.</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ng-template>

  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="scaiblue" class ="ion-text-center">
    <ion-row class="toolbar-row">
      <ion-col routerLink="/users" >
      
        <p style="color:white">  <ion-icon name="enter-outline" color = "light" ></ion-icon> Nuovo Ingresso</p>
      </ion-col>
      <ion-col routerLink="search">
        <p style="color:white">  <ion-icon name="search" color = "light"></ion-icon> Cerca</p>
      </ion-col>
      <ion-col size-md="1" size-xs="2"> 
        <ion-button (click) = "scrollToTop()" fill="clear"> <ion-icon name="arrow-up-circle-outline" color = "light" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
