<ion-header>
  <ion-toolbar color ="scaiblue">
    <ion-buttons slot="start">
      <ion-menu-button  color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color = "light">Registrazioni</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "scrollToBottom()" fill="clear"> <ion-icon name="arrow-down-circle-outline" color = "light" slot="icon-only" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
<ion-chip  *ngIf="isFiltered">
  <ion-icon name="search" color="primary"></ion-icon>
  <ion-label>Annulla filtro</ion-label>
  <ion-icon name="close" (click) = "cancelFilter()"></ion-icon>
</ion-chip>


<ion-card class ="ion-padding">
  <ion-card-header class = "ion-text-center">

    <ion-card-subtitle>Elenco Ingressi e Uscite </ion-card-subtitle> 
   
  </ion-card-header>

  <ion-card-content>
    <ion-grid  size-sm>
      
      <ion-row class="ion-margin-bottom">
        <ion-col></ion-col>
        <ion-col><b>Nome</b></ion-col>
        <ion-col ><b>Cognome</b></ion-col>
        <ion-col><b>Azienda</b></ion-col>
        <ion-col><b>Orario</b></ion-col>
      </ion-row>
    <ion-list>
     
      
      <ion-row  *ngFor="let registration of registrations; let i = index" class = "ion-padding" >

          <ion-item  style="font-size:small;" >
            <ion-col>{{ registration.type }}</ion-col>
        <ion-col >{{registration.user.firstname }}</ion-col>
        <ion-col >{{registration.user.lastname }}</ion-col>
        <ion-col >{{ registration.company.name }}</ion-col>
        <ion-col >{{ registration.time }}</ion-col>
      </ion-item>
     
      </ion-row>
   
    </ion-list>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="scaiblue" class ="ion-text-center">
    <ion-row class="toolbar-row">
      <ion-col routerLink="/users" >
      
        <p style="color:white">  <ion-icon name="enter-outline" color = "light" ></ion-icon> Nuovo Ingresso</p>
      </ion-col>
      <ion-col routerLink="search">
        <p style="color:white">  <ion-icon name="search" color = "light"></ion-icon> Cerca</p>
      </ion-col>
      <ion-col size="1"> 
        <ion-button (click) = "scrollToTop()" fill="clear"> <ion-icon name="arrow-up-circle-outline" color = "light" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
