<ion-header>
  <ion-toolbar color ="scaiblue">
    <ion-buttons slot="start">
      <ion-menu-button  color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color = "light">Registrazioni</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "scrollToBottom()" fill="clear"> <ion-icon name="arrow-down-circle-outline" color = "light" slot="icon-only" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
<ion-chip color="dark" (click) = "loadRegistrationsToday()" class="ion-padding ion-margin float-right" > 
  <ion-icon name="today-outline" size="large"></ion-icon>
  <ion-label>Oggi</ion-label>
</ion-chip>

<ion-card class ="ion-padding">
  <ion-card-header class = "ion-text-center">
    <ion-card-subtitle>Elenco Ingressi </ion-card-subtitle> 

  </ion-card-header>

  <ion-card-content>
  

      <ion-slides pager="true" [options] = "slidesOptions" (ionSlideNextStart) = "onNext()" (ionSlidePrevStart) = "onPrev()">
        <ion-slide *ngFor ="let slide of registrations; let i = index" class ="ion-padding" >
          <ion-grid  style="font-size:medium;" *ngIf="registrations.length > 0" >
           <p>{{slide[0].time |date:"dd/MM/yyyy" }}</p>
            <ion-row class="ion-margin-bottom">
              <ion-col></ion-col>
              <ion-col><b>Visitatore</b></ion-col>
              <ion-col><b>Azienda</b></ion-col>
              <ion-col><b>Orario</b></ion-col>
              <ion-col> </ion-col>
            </ion-row>
           <ion-row *ngFor="let registration of slide" class="ion-margin-bottom">
      
            <ion-col><ion-icon name ="enter" *ngIf="registration.type == 1" size ="large"></ion-icon> <ion-icon name ="exit" *ngIf="registration.type == 2" size ="large"></ion-icon>  </ion-col>
            <ion-col >{{registration.userFirstName }} {{registration.userLastName }}</ion-col>
            <ion-col >{{registration.company }}</ion-col>
            <ion-col >{{ registration.time | date:'mediumTime'}}</ion-col>
            <ion-col > <ion-button *ngIf="registration.enabled" color="scaiblue" (click) ="checkOut(registration.userFirstName, registration.userLastName,registration.registrazioneId)"><ion-icon color ="light" name="enter-sharp" slot ="icon-only" size="small" ></ion-icon> </ion-button>  </ion-col>
        
          </ion-row>

<ion-row>
  <ion-col>
    <ion-card *ngIf="countvisit.count && countvisit.response[i] && countvisit.response[i][1] == slide[0].time" class ="ion-margin ion-padding">
      <ion-card-subtitle>Conteggio visitatori</ion-card-subtitle>
      <ion-card-content>
        <p>Totale ingressi: {{countvisit?.response[i][0][0] }}</p>
        <p>Totale uscite: {{countvisit?.response[i][0][1] }}</p>
      </ion-card-content>
    </ion-card>
    
    
  </ion-col>
</ion-row>


         </ion-grid>
       </ion-slide>
       
      </ion-slides>


  



<ion-grid  *ngIf="registrations.length == 0" >
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-chip color ="tertiary" class = "ion-text-center">
        <ion-label>Nessuna registrazione attiva.</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

  </ion-card-content>
</ion-card>

<!--  

  <ion-card *ngIf="count" class ="ion-margin ion-padding">
  <ion-card-subtitle>Conteggio visite</ion-card-subtitle>
  <ion-card-content>
    <p>Totale ingressi: {{enters }}</p>
    <p>Totale uscite: {{exits }}</p>
  </ion-card-content>
</ion-card>


-->


</ion-content>
<ion-footer>
  <ion-toolbar color="scaiblue" class ="ion-text-center">
    <ion-row class="toolbar-row">
      <ion-col routerLink="/users" >
      
        <p style="color:white">  <ion-icon name="enter-outline" color = "light" ></ion-icon> Nuovo Ingresso</p>
      </ion-col>
      <ion-col routerLink="search">
        <p style="color:white">  <ion-icon name="search" color = "light"></ion-icon> Cerca</p>
      </ion-col>
      <ion-col size-md="1" size-xs="2"> 
        <ion-button (click) = "scrollToTop()" fill="clear"> <ion-icon name="arrow-up-circle-outline" color = "light" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
