<ion-header>
  <ion-toolbar color ="scaiblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users" color ="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color = "light">Ricerca avanzata</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content class ="ion-margin">
    <form [formGroup]="form"  (ngSubmit)="onSubmit()"  >
      <ion-row>
        <ion-col  class = "ion-margin">
            <ion-item >
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text"  formControlName="firstname"  ></ion-input>
            </ion-item>
        </ion-col>
  
        <ion-col class = "ion-margin">
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input type="text"  formControlName="lastname"  ></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col  class = "ion-margin">
          <ion-item>
            <ion-label position="floating">Azienda</ion-label>
            <ion-input type="text"  formControlName="company"  ></ion-input>
          </ion-item>
      </ion-col>
  </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class = "ion-margin">
          <ion-button type = "submit" color="scaiblue" shape = "round"  expand="block" [disabled]="!form.valid" >Cerca</ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>
