<ion-header>
  <ion-toolbar color ="scaiblue">
    <ion-buttons slot="start">
      <ion-menu-button  color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color = "light">Visitatori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
<ion-searchbar animated placeholder = "Cerca visitatore..." ></ion-searchbar>

<ion-card>
  <ion-card-header class = "ion-text-center">
    <ion-card-subtitle>Elenco Visitatori  </ion-card-subtitle> 
  </ion-card-header>

  <ion-card-content>
    <ion-grid  size-sm>
      
      <ion-row class="ion-margin-bottom">
        <ion-col><b>Nome</b></ion-col>
        <ion-col ><b>Cognome</b></ion-col>
        <ion-col><b>Azienda</b></ion-col>
      </ion-row>
    <ion-list>
     
      
      <ion-row  *ngFor="let user of users; let i = index" class = "ion-padding" >
        <ion-item-sliding  #slidingItem >
          <ion-item (click) = "onSelectUser(user)" style="font-size:small;" >
        <ion-col >{{ user.firstname }}</ion-col>
        <ion-col >{{ user.lastname }}</ion-col>
        <ion-col >{{ user.company }}</ion-col>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option  color = "scaiblue" (click) = "checkIn(slidingItem)">
            <ion-icon color ="light" name="enter-sharp">
          </ion-icon>
        </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-row>
   
   
    </ion-list>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="scaiblue" class ="ion-text-center">
    <ion-row class="toolbar-row">
      <ion-col (click) ="newUser()" >
      
        <p style="color:white">  <ion-icon name="person-add" color = "light" ></ion-icon> Nuovo Visitatore</p>
      </ion-col>
      <ion-col>
        <p style="color:white">  <ion-icon name="search" color = "light"></ion-icon>  Ricerca Filtrata</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>